<h1><%= t('.h1', year: @year) %></h1>
<%= form_with(model: @form, url: ai_fortunetelling_index_path) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name, requeird: true) %>
  <%= f.label(:sex) %>
  <%= f.collection_radio_buttons :sex, Visitor.sexes.keys.map { |sex| [sex, t("enum.visitor.sex.#{sex}")]}, :first, :last %>
  <%= f.label(:birthday) %>
  <%= f.date_field(:birthday, requeird: true) %>
  <h2><%= t('.h2_questions') %></h2>
  <% Question.order(:display_order).preload(:options).each_with_index do |question, i| %>
    <h3><%= t('.h3_question', number: i + 1) %></h3>
    <%= f.fields_for :questions, index: question.id do |ff| %>
      <%= ff.collection_radio_buttons :option_id, question.options.sort_by(&:display_order).map { |option| [option.id, option.text]}, :first, :last %>
    <% end %>
  <% end %>
  <%= f.submit(t('.submit'), data: { disable_with: "送信中..." }) %>
<% end %>
<small><%= t('.notice') %></small>
